$base-color: #000;

button {
  font-size: 100%;
}

.header img {
  float: left;
  height: 100px;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
  font-size: 25;
}

body{
  text-align: center;
}